<div class='jumbotron'>
    <h1 class='text-center'>ma liste de Pizzas</h1>
    <p class='text-center'>Bootstrap is the most popular HTML, CSS...</p>

    <a class='create btn btn-info' href={{ path('newPizza') }}>Créer Pizza</a>

</div>